html,
body {
  text-align: center;
  background-color: #ffe1e3;
}
.award_list {
  text-align: left;
  margin: 0 20%;
}
.award--header {
  display: grid;
  grid-template-columns: 70% 30%;
  position: relative;
}
.award--title {
  margin: 1em 0 0 0;
  display: inline-block;
  color: #ff80a3;
  font-weight: 400;
}
.award--archive_link {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #91cee5;
}
