.header {
  display: grid;
  grid-template: 4em 3em/ 22% 56% 32%;
  height: 7em;
  z-index: 1;
}
.header--site_title_wrapper {
  grid-area: 1 / 2 / 2 / 2;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header--site_title {
  color: #ff80a3;
  text-decoration: none;
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1em;
}

.header--main_filter_container {
  display: flex;
  justify-self: center;
  grid-area: 2/ 2/ 3/ 3;
}
.header--type_link_wrapper {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin: auto 0;
}
.header--type_link {
  margin: 0 1em;
  display: inline-block;
  font-size: 0.8em;
  text-decoration: none;
  color: #50bbe2;
}
.header--search_bar_container {
  position: absolute;
  bottom: 0;
}
.header--search_input {
  margin: auto auto 0 0;
  background-color: transparent;
  border: solid #ff80a3;
  border-width: 0 0 1px 0;
  font-size: 1em;
  line-height: 1em;
}
.header--search_input:focus {
  outline: none;
}
