.search {
  position: relative;
  grid-area: 1/3 /2 /3;
}
.search--result_item_container {
  position: relative;
  top: 4.2em;
  left: -5.2em;
  width: 20em;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: #ffee9d;
  border-radius: 1em;
  border: solid 1px #ff80a3;
  z-index: 1;
}
.search--result_item {
  position: relative;
  padding: 0.5em;
  cursor: pointer;
  border-width: 0 1px 1px 1px;
  text-align: left;
  z-index: 1;
}
.search--result_item:hover {
  background-color: #fff6c6;
}
.search--result_item_link {
  display: grid;
  grid-template-columns: 4.5em auto;
  grid-template-rows: 0 auto;
  text-decoration: none;
}
.search--result_item_img {
  grid-area: 2/ 1/ 2/ 2;
  height: 4.5em;
  width: 4.5em;
  border-radius: 50%;
}
.search--result_item_header_container {
  grid-area: 1/ 2/ 2 / span 2;
  padding: 0 0 0 0.2em;
}
.search--result_item_type_header {
  margin: 0;
  color: #50bbe2;
  font-weight: 500;
}
.search--result_item_main_header {
  margin: 0;
  color: #50bbe2;
  font-weight: 500;
  line-height: 1.3em;
}
.search--result_item_artist,
.search--result_item_ft,
.search--result_item_type,
.search--result_item_year {
  margin: 0;
  color: #50bbe2;
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1.3em;
}
.search--result_item_ft {
  margin: 0;
  color: #50bbe2;
  font-weight: 400;
}
